#app {
  margin: 10px;
  text-align: center;
}

body {
  background: black;
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 12px;
}

div {
  text-align: center;
}

.padtop {
  margin-top: 8px;
}

button {
  color: white;
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 3px 10px;
  background-color: #444;
  margin-left: 2px;
  cursor: pointer;
}

button:hover {
  border: none;
  color: #FFFFFF;
  background-color: #555;
}

textarea {
  resize: none;
  font-family: monospace;
  word-wrap: break-word;
  width: 100%;
  margin-bottom: 6px;
}

input[type=range] {
  width: 95%;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
