/*
html, body {
  width: 300px;
}
*/

#app {
  margin: 10px;
  text-align: center;
}

div {
  text-align: center;
  font-family: monospace;
}

button {
  text-align: center;
  font-family: monospace;
}

textarea {
  resize: none;
  font-family: monospace;
  word-wrap: break-word;
}
